<section class="w-1/2 p-10 mx-auto rounded-lg shadow-2xl bg-slate-400">

  <h2 class="py-5 text-2xl text-center">歡迎加入!</h2>
  
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <section class="flex flex-col items-center">
      <div class="py-5 form-control">
        <label class="input-group">
          <span><%= f.label :email ,'信箱'%></span>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"input input-bordered" %>
        </label>
      </div>
      <div class="pt-5 form-control ">
        <label class="input-group">
          <span><%= f.label :password ,'密碼'%></span>
          <%= f.password_field :password, autocomplete: "current-password" , class:"input input-bordered"%>
        </label>
        <span>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
        </span>
      </div>
      <div class="pt-5 form-control ">
        <label class="input-group">
          <span><%= f.label :password_confirmation , '確認密碼' %></span>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"input input-bordered" %>
        </label>
      </div>

      <div class="flex flex-col items-center pt-5 ">
        <%= f.submit "註冊" , class:"btn btn-wide "%>
        <p> 已經有帳號了嗎？ <%= link_to "登入", new_session_path(resource_name), class:"text-orange-300" %></p>
      </div>
    
    
    </section>
  <% end %>



</section>
